body{
    background-color: honeydew;
    border-width:22px; 
    

}

body>ol {list-style-type: decimal-leading-zero;
         width: 15%;
         border-style:dotted;
         text-align: 30px;
    padding: 10px;
    border: 3px solid gray;
    margin: 20px; 

}
ol>li>ol {list-style-type: upper-alpha;}

ul {list-style-image: url("http://4.bp.blogspot.com/_vKZojuzTcY0/S7EE7qmmZWI/AAAAAAAAAFc/_FwQT_Sja5U/s320/gafas.jpg");}

    ul li:nth-child(2n) {
        background-color:   lightyellow;
    }