*{
    box-sizing: border-box;
    background-color: bisque;
}
h1{
    font-size: 30px;
    text-shadow: cadetblue;
    text-align: center;
    color:darkcyan ;
    font-family: fantasy;
}

figure{
    float:left;
}

.louvre{
    width: 70%;
    margin-left:15% ;
    
}

.ultimo-parrafo{
    clear: both;  /* Hago un clear para que no interfiera
                    en la imagen flotante*/
}

div.datos{
 text-align: center;
 font-size: 25px !important;
}

.datos-secundarios{
    font-size: 20px;
}
.box{
width:45%;
margin: 20px;
height:auto;
background:beige;
float:left;
}
img {
 width:100%;
}

footer{
    
    width: 12%;
    margin-left: 40%;
}
