h1 {
    color: red;
    font-size: 34px;

}

*{
    background-color: aquamarine;
}
p
 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size:16px
 }

 body > div > p 
 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:24px;
 }

h1:before {content: }

 #p1{
     background-color: yellow;
     padding:white;
     border: orange;
     text-align: center;

 }

  #p2::first-line{
      background-color: yellow;
 }
 ul{
     margin: auto

 }