*{
    background-color: lightgrey
}
h1 {
    font-size: 55px;
    color:firebrick;  
    background-color: aqua;
    text-align: center;
    width: auto;
}


p
 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size:16px
 }

 body > div > p 
 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size:24px;
 }

 #p1{
     padding:#D3AF53;
     
     text-align: center;
     border:solid

    }

 #p3{
     border: 4px blueviolet dotted; 
     font-size: 19px;
     color: lightseagreen
 }

body > p > div > a
     {
         border: solid green ;

     }

 
